.wrapper {
  @apply
    w-full
    mx-auto
    p-2
    text-center
    bg-gray-700
    text-white
    font-bold
}

.imagesWrapper {
  @apply
    flex
    flex-wrap
    justify-center
    items-center
}

.image {
  @apply
    px-10
    py-5
}
